<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="methods" thread-count="5">


    <test name="Include Group Tests">
        <groups>
            <run>
              <include name="Positive"/>
              <exclude name="Negative"/>
            </run>
        </groups>
        <classes>
            <class name="com.test.TestCase"/>
        </classes>
    </test>

 
</suite>
